<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <title>LOC8</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Client Signup Form "/>
    <script type="application/x-javascript"> addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
        window.scrollTo(0, 1);
      } </script>
    <!-- Custom Theme files -->
    <link href="/stylesheets/style.css" rel="stylesheets" type="text/stylesheets" media="all"/>
    <link href="/stylesheets/bootstrap.css" rel="stylesheets" type="text/stylesheets" />
    <!-- //Custom Theme files -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">LOC8</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/police">Police</a></li>
                <li><a href="/hospital">Hospital</a></li>
                <li><a href="/users/logout">LOG OUT</a></li>

            </ul>
        </div>
    </nav>
</head>
<body>
