<!DOCTYPE html>
<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Loc8</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

</head>
<body>

<p>Nr: <%= data[0]%></p>
<p>Name: <%= data[10]%></p>
<p>Hospital<%= data[11]%></p>
</body>
</html>