<!DOCTYPE html>
<html>
<head>
    <title>Loc8</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #map {
            height: 70%;
        }

        #options {
            height: 30%
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="options" style="background-color: lightblue;"><p>Options</p></div>
<script>


  // When the user accepts location data then recenter the map at the current location
  navigator.geolocation.getCurrentPosition(function(location) {
    locationChosen = true;
    createMap(location.coords.latitude, location.coords.longitude, false);
    console.log('Current Position '+location.coords.latitude+' '+ location.coords.longitude);
  });
</script>

</body>
</html>