<h1>Please accept location data</h1>

<script>

  // When the user accepts location data then recenter the map at the current location
  navigator.geolocation.getCurrentPosition(function(location) {
    obj = {
      lat: location.coords.latitude,
      long: location.coords.longitude,
    }

    json = JSON.stringify(obj);

    form = document.createElement("form");
    form.method = "post";
    form.action = '/';
    input = document.createElement("input");
    input.setAttribute("name", "json");
    input.setAttribute("value", json);
    form.appendChild(input);
    document.body.appendChild(form);
    form.submit();
  });
</script>
