<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Loc8</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #logo {
            height: 70%;
        }

        #signup {
            height: 30%
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <link type="text/css" href="/public/stylesheets/bootstrap.min.css"/>
</head>
<body>

<div id="logo" style="background-color: lightblue;"><img src="/images/logo.png" class="img-responsive"/></div>
<div id="signup">
    <form>
        <label>Email: <input required type="email" class="" name="email"></label><br><br>
        <label>Password: <input type="password" name="password"/></label><br><br><input type="submit" name="Submit"
                                                                                        value="Login"
                                                                                        class="btn-lg btn btn-block btn-primary"/>
    </form>
</div>

</body>
</html>