<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Loc8</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <a class="waves-effect waves-light btn-large">Button</a>

    <link type="text/css" href="/public/stylesheets/bootstrap.min.css"/>
</head>
<body>

<div id="logo" style="background-color: lightblue;"><img src="/images/logo.png" class="img-responsive"/></div>
<div id="signup">
    <form>
      ><br><br><input type="submit" name="Submit"
                                                                                        value="Login"
                                                                                        class="btn-lg btn btn-block btn-primary"/>
    </form>
</div>

</body>
</html>
<a href="http://SkyGround.co.za/" target="_blank">SkyGround</a>