<% include header.ejs %>


<div id="logo" style="background-color: lightblue;"><img src="/images/logo.png"/></div>
<div id="signup">
    <input type="button" class="btn-lg btn btn-block btn-info" ="/users/signup" name="Signup" value="Signup"><br><br>
    <button class="btn-lg btn btn-block btn-primary">Login</button>
</div>

</body>
</html>